<div class="container mt-4">
    <div class="card">
      <h2>Giriş Ekranı</h2>
      <form [formGroup]="loginForm">
        <input type="text" id="userNameOrEmail" formControlName="userNameOrEmail" placeholder="Kullanıcı adı & E-posta" 
        required >
        <input type="password" formControlName="password" id="password"  placeholder="Şifre" 
        required>
        <button type="submit mb-2" (click)="login()">Giriş Yap</button>
      </form>
      <a href="/register" class="btn btn-primary mt-2"><i class="fas fa-user-plus"></i> Kayıt Ol</a>
    </div>
  </div>