<div class="card mt-4">
  <div class="container">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6 text-right">
          <button
            class="btn btn-success"
            data-toggle="modal"
            data-target="#addModal"
          >
            <i class="fas fa-plus"></i> Ekle
          </button>
        </div>
        <div class="col-md-6">
          <input
            type="search"
            class="form-control"
            [(ngModel)]="searchText"
            placeholder="Arama..."
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Ürün adı</th>
                <th>Fiyat</th>
                <th>Stok</th>
                <th>Ekleme Tarihi</th>
                <th>Güncelleme Tarihi</th>
              </tr>
            </thead>
            <tbody>
              <!-- Örnek  veri -->
              @for (item of paginatedProduct.items | productSearchPipe:searchText; track item)
              {
              <tr>
                <td>{{ calculateStartIndex()+$index }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.stock }}</td>
                <td>{{ formatDate(item.createdDate) }}</td>
                @if (item.updatedDate) {
                <td>{{ formatDate(item.updatedDate) }}</td>
                } @else {
                <td>Yok</td>
                }
                <td>
                  <button
                    data-toggle="modal"
                    data-target="#updateModal"
                    class="btn btn-sm btn-primary"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="delete(item)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              } @empty {
              <div class="alet alert-info">İlgili Ürün bulunmamaktadır.</div>
              }
            </tbody>
          </table>
            <!-- Pagination -->
            <select name="pageSize" id="pageSize" class="form-control text-center" style="width: 65px; float: left;" [(ngModel)]="selectedCount" (change)="goToChangeSelectedCount()">
              <option>5</option>
              <option>10</option>
              <option>20</option>
          </select>

          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" (click)="goToFirstPage()">İlk</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="prevPage()">Önceki</a>
              </li>
              <li class="page-item" *ngFor="let pageNumber of getPageNumbers()">
                <a class="page-link" (click)="goToPage(pageNumber)" [ngClass]="{'active' : pageNumber===currentPage}">{{ pageNumber }}</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="nextPage()">Sonraki</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="goToLastPage()">Son</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Modalı -->

<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ürün Ekle</h1>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm">
          <div class="form-group">
            <label for="name">Ürün Adı:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              [appValid]="productForm.get('name')?.valid"
              formControlName="name"
              
            />
            <div *ngIf="name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors?.['required']">
                {{ errorMessages.product.name.required }}
              </div>
            </div>
            <div *ngIf="name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors?.['minlength']">
                {{ errorMessages.product.name.minLength }}
              </div>
            </div>
            <div *ngIf="name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors?.['maxlength']">
                {{ errorMessages.product.name.maxLength }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Fiyat:</label>
            <input
              type="number"
              min="0"
              max="1000"
              class="form-control"
              id="price"
              formControlName="price"
              [appValid]="productForm.get('price').valid"
              required
            />
            <div *ngIf="price.invalid" class="invalid-feedback">
              <div *ngIf="name.errors?.['required']">
                {{ errorMessages.product.price.required }}
              </div>
            </div>
            <div *ngIf="price.invalid" class="invalid-feedback">
              <div *ngIf="name.errors?.['min']">
                {{ errorMessages.product.price.min }}
              </div>
            </div>
            <div *ngIf="price.invalid" class="invalid-feedback">
              <div *ngIf="price.errors?.['max']">
                {{ errorMessages.product.price.max }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="stock">Stok:</label>
            <input
            type="number"
            min="0"
            max="500"
              class="form-control"
              id="stock"
              formControlName="stock"
              [appValid]="productForm.get('stock').valid"
              required
            />
            <div *ngIf="stock.invalid" class="invalid-feedback">
              <div *ngIf="stock.errors?.['required']">
                {{ errorMessages.product.stock.required }}
              </div>
            </div>
            <div *ngIf="stock.invalid" class="invalid-feedback">
              <div *ngIf="stock.errors?.['min']">
                {{ errorMessages.product.stock.min }}
              </div>
            </div>
            <div *ngIf="stock.invalid" class="invalid-feedback">
              <div *ngIf="stock.errors?.['max']">
                {{ errorMessages.product.stock.max }}
              </div>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="images">Ürün Resimleri</label>
            <input
              type="file"
              name="images"
              id="images"
              multiple                     
              class="form-control"
              accept=".jpg,.png,.jpeg"
              (change)="getImages($event)">
        </div>
        <hr>
        <div class="form-group mt-2">
            <p>Seçilen Resimler</p>
            <span (click)="removeImage(i)" *ngFor="let image of imageUrls let i = index">
                <img [src]="image.imageUrl" width="100" class="mx-1">
            </span>
        </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Kapat
        </button>
        <button type="button" class="btn btn-primary" [disabled]="!productForm.valid" (click)="addProduct()">
          Kayıt Et
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Update Modalı -->

